## Golden Configuration Template (Cisco IOS-XE)
## HCLTech NetOps - golden_config context
## -------------------------------------------------------------
ip domain name hcl.com
ip ssh version 2
clock timezone IST 5 30
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause security-violation
errdisable recovery cause channel-misconfig
errdisable recovery cause pagp-flap
errdisable recovery cause dtp-flap
errdisable recovery cause link-flap
errdisable recovery cause l2ptguard
errdisable recovery cause psecure-violation
errdisable recovery cause storm-control
errdisable recovery interval 300
logging host 10.10.10.10
username netops privilege 15 secret 8 $8$QrCS8Hp13rPtgk$baSt84rHo/MMzJiPN2AW2sI.Uy.xrPPeDRM4gfshC7.
ntp source Loopback0
ntp authenticate
ntp authentication-key 1 md5 <hash>
ntp trusted-key 1
ip ssh source-interface Loopback0
snmp-server group 5^r3n3$s29T4u& v3 priv
ip access-list standard NTP-ACL
  permit 10.10.10.1
  permit 10.20.20.2
ntp access-group peer NTP-ACL
ip access-list standard SNMP-ACL
  permit 10.112.114.10
  permit 10.112.62.196
ip access-list standard VTY-ACL
  permit 10.112.114.10
  permit 10.112.62.196
  permit 10.98.15.0 0.0.0.255
line vty 0 15
  access-class VTY-ACL in
