## Golden Configuration Template (Cisco IOS-XE)
## HCLTech NetOps - golden_config context
## -------------------------------------------------------------


ip domain name hcl.com
ip ssh version 2
clock timezone IST 5 30
errdisable recovery cause udld
errdisable recovery cause bpduguard
errdisable recovery cause security-violation
errdisable recovery cause channel-misconfig
errdisable recovery cause pagp-flap
errdisable recovery cause dtp-flap
errdisable recovery cause link-flap
errdisable recovery cause l2ptguard
errdisable recovery cause psecure-violation
errdisable recovery cause storm-control
errdisable recovery interval 300
logging host 10.150.30.23 
logging host 10.108.129.45 
logging host 10.98.10.226 
logging host 10.112.114.10 
logging host 10.98.10.245 
logging host 10.98.10.246 
logging host 10.150.19.86 
logging host 10.150.68.5 
logging host 10.153.2.49 
logging host 10.137.186.113 
transport udp port 562
username netops privilege 15 secret 8 $8$QrCS8Hp13rPtgk$baSt84rHo/MMzJiPN2AW2sI.Uy.xrPPeDRM4gfshC7.
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service compress-config
service call-home
ntp source Loopback0
ntp authenticate
ntp authentication-key 1 md5 <hash>
ntp trusted-key 1
ip ssh source-interface Loopback0
snmp-server group 5^r3n3$s29T4u&t v3 priv read HCLview access SNMP-RESTRICT
ip access-list standard NTP-ACL
  permit 10.10.10.1
  permit 10.20.20.2
ntp server 10.150.4.56 key 14632
ntp access-group peer NTP-ACL
ip access-list standard SNMP-ACL
  permit 10.112.114.10
  permit 10.112.62.196
ip access-list standard VTY-ACL
  permit 10.112.114.10
  permit 10.112.62.196
  permit 10.98.15.0 0.0.0.255
line vty 0 4
 access-class VTY-RESTRICT in vrf-also
 exec-timeout 5 0
 authorization exec vty1
 logging synchronous
 login authentication vty1
 transport input ssh
 transport output none
line vty 5 15
 access-class VTY-RESTRICT in vrf-also
 exec-timeout 5 0
 logging synchronous
 transport input ssh
 transport output none
line vty 16 98
 transport input none
 transport output none
!
exception crashinfo maximum files 2
!
